body
  margin: 0
  font-family: sans-serif

.navigation
  background-color: #000094
  margin: auto
  padding: 0
  height: 30px

  a
    color: white
    padding-left: 15px
    padding-right: 15px
    text-decoration: none
    line-height: 2em
    &.active
      background-color: #0044ff
      font-weight: bold

.main
  margin: 15px

h3.title
  margin-top: 30px
  &.first
    margin-top: 10px

table
  width: 100%

thead
  background-color: #000094
  color: white

tbody
  tr:nth-child(even)
    background-color: aliceblue

td
  padding: 8px
  &.med-name
    max-width: 60%
  &.status
    min-width: 20%

span.interaction-button
  display: inline-block
  width: 25px
  text-align: center
  border-radius: 3px
  margin: 3px
  cursor: pointer
  color: white
  &.plus
    background-color: forestgreen
  &.minus
    background-color: red

select, input
  margin: 3px

button.save-button
  background-color: chartreuse

div.times
  border: 4px solid #000094
  border-radius: 15px
  .time
    border-bottom: 1px solid lightgray
    padding: 10px
    &.regular-event
      background-color: antiquewhite

.time-display
  margin-right: 20px

.medication-name
  margin-right: 5px
  border: 2px solid cornflowerblue
  background-color: aliceblue
  border-radius: 10px
  padding: 5px


.errors
  margin-bottom: 20px
  .error
    border: solid 2px red
    border-radius: 5px
    background-color: pink
    padding: 5px